Repository ocaml/merlin, pull requests merged in 2025-03, with the labels that each got.

#1903 Add maintenance intent to opam files
  merlin-lib.opam
  merlin.opam
  ocaml-index.opam
Labels: no changelog

#1905 Upgrade `irmin-lock` for `Fuzzy-CI`
  .github/fuzzy-ci-helpers/irmin.3.10.0.opam.locked
Labels: no changelog

#1896 Apply `merl-an` on `main` branch
  .github/workflows/fuzzy-ci.yml
  Makefile
  bench.Dockerfile
  bench.Dockerfile.disabled
  bench/irmin.opam.export
Labels: no changelog, fuzzy-diff-looks-good

#1906 Add `big-bertha` in merl-an bench
  Makefile
  bench.Dockerfile
Labels: no changelog, bench
